<div class="project-list-container">
    <!--<img src="/assets/images/portia-logo.svg" alt="Portia logo">-->

    <h3>请创建新项目</h3>
    {{create-project-button projects=model}}
    {{#if model}}
        <p>从以下存在项目中选择</p>

        {{project-list projects=model}}
    {{/if}}
</div>
