<div class="spaced">
    <p class="txt-describe">
        输入包含换行符分隔的网址的公开网址
        <a href={{feedLink}} target="_blank">like this.</a>
    </p>
</div>

<div class="spaced">
    <label for="feedUrl">Feed URL</label>
    {{input
      type="text"
      id='feedUrl'
      class="form-control focus-control"
      value=(mut startUrl.url)
      focus-out="saveFeedUrl"
      placeholder='https://gist.github.com/user/gist_id'
    }}
</div>
