<h3>Field</h3>
<form {{action "save" on="change"}}>
    <div class="checkbox">
        <label>
            {{input type="checkbox" name="required" checked=(mut field.required)}} Required
        </label>
        {{#help-icon}}
            只解析有该字段的内容项。所有使用该数据的样例都会被影响。
        {{/help-icon}}
    </div>
    <div class="checkbox">
        <label>
            {{input type="checkbox" name="vary" checked=(mut field.vary)}} Vary
        </label>
        {{#help-icon}}
            检查重复项时，将忽略此字段的值
        {{/help-icon}}
    </div>
</form>
