<div class="text-center conflicts-text">
    {{#if conflictedFiles}}
        <h1>错误!</h1>

        <h3>无法部署项目，因为与其他用户的更改存在冲突</h3>
        <p>通过从左侧面板中选择冲突文件来部署项目，手动解决冲突。</p>
    {{else}}
        <h1>完成</h1>

        <p>
            所有冲突已结痂，返回{{link-to "project page" 'projects.project' projectController.model}}
            尝试重新部署
        </p>
    {{/if}}
</div>

